:root {
	--main: #8b0000;
	--secondary-color: #00bfff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#navbar {
	display: inline-flex;
	flex-direction: row-reverse;
	float: right;
	padding: 5px;
	width: 100%;
	background-color: var(--main);
}
/* #navbar a:active {
	background-color: white;
} */

.nav-button {
	display: inline-block;
	margin: 10px;
	padding: 10px;
	background-color: var(--secondary-color);
	text-decoration: none;
	height: 100%;
	color: black;
}

#navbar a:active,
#highlighted {
	background-color: white;
}

#main-container {
	/* position: absolute; */
	/* margin: 20px; */
	padding: 10px;
}

.main-header {
	text-align: center;
	margin: 20px;
	padding: 10px;
}

.class-option-A {
	background-color: lightblue;
	margin: 20px;
	padding: 10px;
	text-align: center;
}
.class-option-B {
	background-color: lightgreen;
	margin: 20px;
	padding: 10px;
	text-align: center;
}

.class-container {
	display: flex;
	flex-direction: row;
}

.choose-class-button {
	background-color: lightgrey;
	margin: 5px;
	padding: 5px;
	border-radius: 5px;
	text-decoration: none;
}

img {
	height: 250px;
	width: 250px;
}
